
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

 <app-header-component  [userList]="userList"></app-header-component>
          
          <div class="container ml-10 mt-10" >
            <div class="row" style="margin-top: 30px;">
              <app-card-component class="col-md-3" [userList]="userList"></app-card-component>
              
                <div class="col-md-9">

               <app-image-heart-text-component [userList]="userList"></app-image-heart-text-component>

          


               <app-table-component [userList]="userList"></app-table-component>




                    </div>
                    
                    


                </div>

          </div>

          

            
<!-- </div> -->


