.btn-w{
    width: 100%;
    text-align: left;
}
.btn-w-c{
    width: 90%;
    text-align: left;
}
.plus-i{
    float:right;
    color: black;
}
.row-c{
    padding-top: 10px;
}
.circle
    {
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:25px;
    color:#fbf;
    line-height:100px;
    text-align:center;
    border: blue solid;
    position: relative;
}
.btn-primary.custom-btn {
	background-color: lightgreen;
	border-color: lightgreen;
}
// :host /deep/ .tree-children {
//     padding-left: 20px;
// } 

// :host /deep/ .tree-children{
//     padding-left: 2px;
//   }

//   :host::ng-deep .tree-children{
//     padding-left: 2px;
//   }


  :host {
    /deep/ .tree-children {
        padding-left: 0px;
    }
}
    :host {
    /deep/ .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
        background: red;
    }
    }