<div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
          <img [src]="selectedValue?.img" class="rounded" alt="broken image"
            style="width:100px;height: 100px;">

      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
              <button type="button" class="btn btn-dark">Send message</button>

          </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 5%">
                <ng-container *ngIf="selectedValue?.rating === 5">
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                </ng-container>
                <ng-container *ngIf="selectedValue?.rating === 4">
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                </ng-container>
                <ng-container *ngIf="selectedValue?.rating === 3">
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                </ng-container>
                <ng-container *ngIf="selectedValue?.rating === 2">
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                </ng-container>
                <ng-container *ngIf="selectedValue?.rating === 1">
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                </ng-container>
                <ng-container *ngIf="selectedValue?.rating === 0">
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                </ng-container>
            </div>
          </div>
      </div>

    </div>
  </div>

  <span>
    <div style="margin-top: 2%;margin-left: 13px;">

      <div class="vl"><p>&nbsp;{{selectedValue?.Description}}</p></div>
    </div>
      
  </span>