<header>
  <div class="container ml-10 mt-10">
      <div class="row">
        <div class="col-md-8">
            <div class="col-md-5 align-items-center div_search">
                <span>
                    <i class="fas fa-search"></i>
                    <input id="input_search" placeholder="search" class="input_search">
                    <span class="span_close">×</span>
                </span>
            </div>
        </div>
        <div class="col-md pull-right text-right">
            <span>
                <label>Peter Hoang</label>
                <i class="fas fa-user" style="font-size: 25px;"></i>              
                <i class="fas fa-caret-down"></i>
              </span>
            </div>
          </div>
        </div>  
</header>